@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

li, .hyperlink, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    background-color: #1f1f1f;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background: #1f1f1f;
}

.logo, .logolink{
    cursor: pointer;
    margin-right: auto;
    background-color: #1f1f1f;
}

.nav_links {
    list-style: none;
    background-color: #1f1f1f;
}

.nav_links li {
    display: inline-block;
    padding-right:20px;
    background-color: #1f1f1f;
}

.nav_links li .hyperlink {
    transition: all 0.3s ease 0s;
}

.nav_links li .hyperlink:hover {
    color: #9147fe
}

button {
    padding: 9px 25px;
    background-color: rgba(145, 71, 254,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(145, 71, 254,0.8);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    max-width: 60%;
    margin:auto;
    margin-bottom:35px;
    height: 500px;
}

.textcontainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    max-width: 60%;
    margin:auto;
    margin-top:35px;
    margin-bottom:35px;
    height:auto;
}

.textheading {
    font-family: "Lato";
    font-weight: bold;
    color: #2a2e30;
    text-align: center
}

.textbody {
    font-family: "Lato";
    font-weight: 400;
    color: #2a2e30;
    font-size: 20px;
    margin: 30px;
}
